{% extends 'base.html' %}

{% block content %}
    <div class="pure-u">
        <h2>New Substance</h2>
    </div>
    <div class="pure-u">
        <form 
        class="pure-form pure-form-stacked" 
        action="/api/substances" method="post"
        enctype="multipart/form-data"
        id="create-form"
        >
            <label for="name">
                <span>Name</span>
                <input required type="text" name="name" id="name">
            </label>
            <label for="molecular_formula">
                <span>Molecular Formula</span>
                <input required type="text" name="molecular_formula" id="molecular_formula">
            </label>
            <label for="molecular_weight">
                <span>Molecular Weight</span>
                <input required type="text" name="molecular_weight" id="molecular_weight">
            </label>
            <label for="groups" id="group-label">
                <span>Groups</span>
                <button onclick="addGroup()" class="pure-button pure-button-primary">
                    <i class="fa-solid fa-add"></i>
                </button>
                <select name="groups" id="groups">
                    {% for group in groups %}
                    <option value="{{ group.id }}">{{ group.name }}</option>
                    {% endfor %}
                </select>
            </label>
            <label for="synonyms" id="synonym-label">
                <span>Synonyms</span>
                <button onclick="addSynonym()" class="pure-button pure-button-primary">
                    <i class="fa-solid fa-add"></i>
                </button>
                <input type="text" name="synonyms" id="synonyms">
            </label>
            <label for="images">
                <span>Images</span>
                <input type="file" accept="image/*" multiple="true" name="images" id="images">
            </label>
            <button class="button-success pure-button" required type="submit" onclick="submitForm()">
                Add
            </button>
        </form>
    </div>

    <script>
        let form = document.getElementById('create-form')
        let groups  = document.getElementById('group-label')
        let synonyms  = document.getElementById('synonym-label')
        form.addEventListener('submit', (e) => {
            e.preventDefault()
        })
        function submitForm() {
            form.submit()
        }
        function addGroup() {
            groups.insertAdjacentHTML("beforeend", `
            <select name="groups" id="groups">
                {% for group in groups %}
                <option value="{{ group.id }}">{{ group.name }}</option>
                {% endfor %}
            </select>
            `)
        }
        function addSynonym() {
            synonyms.insertAdjacentHTML("beforeend", `
            <input type="text" name="synonyms" id="synonyms">
            `)
        }
    </script>
{% endblock %}