{% extends 'base.html' %}

{% block content %}
    <div class="pure-u">
        <h2>Edit Substance</h2>
    </div>
    <div class="pure-u">
        <form 
        class="pure-form pure-form-stacked" 
        action="/api/substances/{{ substance.id }}" method="post"
        enctype="multipart/form-data">
            <label for="name">
                <span>Name</span>
                <input type="text" name="name" id="name" value="{{ substance.name }}">
            </label>
            <label for="molecular_formula">
                <span>Molecular Formula</span>
                <input type="text" name="molecular_formula" id="molecular_formula" value="{{ substance.molecular_formula }}">
            </label>
            <label for="molecular_weight">
                <span>Molecular Weight</span>
                <input type="text" name="molecular_weight" id="molecular_weight" value="{{ substance.molecular_weight }}">
            </label>
            <label for="risks">
                <span>Risks</span>
                <input type="text" name="risks" id="risks">
            </label>
            <label for="images">
                <span>Images</span>
                <div class="pure-g">
                    {% for image_id in substance.images %}
                        <div class="pure-u">
                            <img src="/api/images/{{ image_id }}" class="img-responsive" />
                        </div>
                    {% endfor %}
                </div>
                <input type="file" accept="image/*" multiple="true" name="images" id="images">
            </label>
            <button class="button-success pure-button" type="submit">
                Update
            </button>
        </form>
    </div>
{% endblock %}