{% extends 'base.html' %}

{% block content %}
    <h2>List of Substances</h2>
    <div class="pure-form">
        <form action="./" method="get">
            <label for="q">
                <span>Search for Name</span>
                <input type="text" required name="q" id="q">
            </label>
            <button type="submit">
                Search
            </button>
        </form>
    </div>
    <table class="pure-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Molecular Formula</th>
                <th>Molecular Weight</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for substance in substances %}
            <tr>
                <td>{{ substance.id }}</td>
                <td>{{ substance.name }}</td>
                <td>{{ substance.molecular_formula }}</td>
                <td>{{ substance.molecular_weight }}</td>
                <td><a href="/substances/edit/{{ substance.id }}">Edit</a></td>
                <td><a href="/substances/del/{{ substance.id }}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}